<!-- app/views/seller/listings/edit.html.erb similar -->
<%= render "shared/navbar" %>
<div class="container py-4">
  <h1 class="h3 mb-3">Edit Listing</h1>
  <%= render "form", listing: @listing %>
</div>